@font-face {
	font-family: 'AudiNormal';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AudiType-Normal.eot");
	src: url("../fonts/AudiType-Normal.eot?#iefix") format("embedded-opentype"), url("../fonts/AudiType-Normal.woff") format("woff"), url("../fonts/AudiType-Normal.woff2") format("woff2"), url("../fonts/AudiType-Normal.ttf") format("truetype");
}

@font-face {
	font-family: 'AudiBold';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AudiType-Bold.eot");
	src: url("../fonts/AudiType-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/AudiType-Bold.woff") format("woff"), url("../fonts/AudiType-Bold.woff2") format("woff2"), url("../fonts/AudiType-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'AudiItalic';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AudiType-Italic.eot");
	src: url("../fonts/AudiType-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/AudiType-Italic.woff") format("woff"), url("../fonts/AudiType-Italic.woff2") format("woff2"), url("../fonts/AudiType-Italic.ttf") format("truetype");
}

@font-face {
	font-family: 'AudiBoldItalic';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AudiType-BoldItalic.eot");
	src: url("../fonts/AudiType-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AudiType-BoldItalic.woff") format("woff"), url("../fonts/AudiType-BoldItalic.woff2") format("woff2"), url("../fonts/AudiType-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'AudiExtendedBold';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AudiType-ExtendedBold.eot");
	src: url("../fonts/AudiType-ExtendedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AudiType-ExtendedBold.woff") format("woff"), url("../fonts/AudiType-ExtendedBold.woff2") format("woff2"), url("../fonts/AudiType-ExtendedBold.ttf") format("truetype");
}

@font-face {
	font-family: 'AudiExtendedBoldItalic';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AudiType-ExtendedBoldItalic.eot");
	src: url("../fonts/AudiType-ExtendedBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AudiType-ExtendedBoldItalic.woff") format("woff"), url("../fonts/AudiType-ExtendedBoldItalic.woff2") format("woff2"), url("../fonts/AudiType-ExtendedBoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'AudiExtendedItalic';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AudiType-ExtendedItalic.eot");
	src: url("../fonts/AudiType-ExtendedItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/AudiType-ExtendedItalic.woff") format("woff"), url("../fonts/AudiType-ExtendedItalic.woff2") format("woff2"), url("../fonts/AudiType-ExtendedItalic.ttf") format("truetype");
}

@font-face {
	font-family: 'AudiExtendedNormal';
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/AudiType-ExtendedNormal.eot");
	src: url("../fonts/AudiType-ExtendedNormal.eot?#iefix") format("embedded-opentype"), url("../fonts/AudiType-ExtendedNormal.woff") format("woff"), url("../fonts/AudiType-ExtendedNormal.woff2") format("woff2"), url("../fonts/AudiType-ExtendedNormal.ttf") format("truetype");
}