doctype html
html(lang='ru')
    include include/head
    include include/scripts
    body

        .pdca

            .bstd-section.bstd-section-header
                .bstd-header.size-limit(style="background-image: url(assets/img/camry/bg_header.png);")
                    h1 Специальные условия #[br] на приобретение #[br] Toyota Camry
                    p.text для корпоративных клиентов

            .bstd-section
                .size-limit
                    p.text(style="margin-top: 65px;") Toyota Camry заслуженно считается лидером среди автомобилей бизнес-класса. Бескомпромиссное качество, элегантный, узнаваемый дизайн, высокий уровень безопасности водителя и пассажиров, исключительный комфорт и солидный статус обеспечивают признание Camry в любой бизнес-среде. Образцовая эргономика рабочего места, наиболее просторный в классе задний ряд сидений с подогревом и солнцезащитными шторками, высококачественные материалы отделки, а также продуманное оснащение&nbsp;&mdash; превращают каждую поездку в настоящее удовольствие. Toyota Camry&nbsp;&mdash; современный деловой партнер, Ваш непременный спутник на пути к новым успехам. Согласно данным ассоциации европейского бизнеса, автомобиль Toyota Camry занимает 36,7% рынка корпоративных продаж в сегменте D/E*. Автомобиль Тойота Camry соответствует постановлению об осуществлении закупок для обеспечения государственных и муниципальных нужд. <a href="gosklient" target="_blank">Узнать&nbsp;подробнее</a> об условиях приобретения автомобилей для государственных и муниципальных органов и учреждений.
                    h1.title(style="text-align: left;") Ключевые особенности
                    .bstd-features
                        .bstd-features__item.bstd-features__item--2
                            img(src='assets/img/camry/features1.png' alt='features1')
                            p
                                strong Простор и комфорт
                                | Toyota Camry предлагает наиболее просторный в классе задний ряд сидений, а широко открывающиеся двери обеспечивают удобство при посадке-высадке. Возможность индивидуального управления аудиосистемой, превосходная шумо- и вибро-изоляция, трехзонный климат контроль — сделают поездку еще более комфортной.
                        .bstd-features__item.bstd-features__item--2
                            img(src='assets/img/camry/features2.png' alt='features2')
                            p
                                strong Престиж и статус
                                | Лидерство Toyota Camry в сегменте бизнес-класса неразрывно связано с лидирующими позициями и успехом компаний, которые выбирают Камри для своего использования. Высокая репутация, престиж и статус, позволили данной модели занять место в автопарках крупнейших коммерческих и государственных структур.
                        .bstd-features__item.bstd-features__item--2
                            img(src='assets/img/camry/features3.png' alt='features3')
                            p
                                strong Надежность и практичность
                                | Объемный багажник, высокий дорожный просвет, практичный кожаный салон, делают данный автомобиль надежным помощником как для ежедневного обеспечения корпоративных перевозок, так и для предоставления транспортных услуг.
                        .bstd-features__item.bstd-features__item--2
                            img(src='assets/img/camry/features4.png' alt='features4')
                            p
                                strong Выбор для любых целей
                                | Разнообразие комплектаций и аксессуаров, а также доступность к заказу трех различных вариантов двигателя, позволяет выбрать именно ту Toyota Camry, которая максимально полно будет соответствовать потребностям вашего бизнеса.
                    p.text *(Результаты продаж за период Январь-Август 2014)

            .bstd-section
                .size-limit
                    h1.title Выбор кредитного продукта:
                    .bstd-other
                        a.bstd-other__item(href="/finance-insurance/toyota_flex" target="_blank")
                            .image
                                img(src='assets/img/finance-insurance/other1.png' alt='other1')
                            span Условия приобретения автомобилей для государственных и муниципальных органов и учреждений