doctype html
html(lang='ru')
    include include/head
    include include/scripts
    body

        .pdca

            .bstd-section.bstd-section-header
                .bstd-header.size-limit(style="background-image: url(assets/img/diplomatic-sales/ds_header.png);")
                    h1 Дипломатические #[br] продажи

            .bstd-section
                .size-limit
                    .bstd-text(style="margin-top: 60px;")
                        p Автомобили Toyota обладают множеством международных и российских наград за высокие стандарты качества, надежности и стремление к максимальной удовлетворенности клиентов.
                        p #[br] Для клиентов, имеющих дипломатические привилегии на территории Российской Федерации, ООО «Тойота Мотор» разработала специальные условия по приобретению автомобилей.
                        p #[br] Данные условия включают в себя не только поставку автомобилей по специальным дипломатическим ценам, но и профессиональную консультацию по всем вопросам, связанным с приобретением и обслуживанием автомобилей на территории Российской Федерации, доставку автомобилей до таможенного поста в г. Москве или в г. Санкт-Петербурге по выбору клиента, дальнейшее послепродажное обслуживание у любого Уполномоченного Дилера и Партнера Тойота в России.

            .bstd-section
                .size-limit
                    .subtitle(style="font-weight: bold; text-align: left; margin-top: 40px;") Условия участия в программе
                    .bstd-text
                        p(style="margin-top: 30px;") Воспользоваться программой дипломатических продаж могут следующие лица:
                        ul(style="list-style-type: disc; margin-left: 30px;")
                            li(style="margin-bottom: 10px;") Иностранные посольства, дипломатические миссии и международные организации с дипломатическим статусом в России
                            li(style="margin-bottom: 10px;") Иностранные дипломаты с аккредитацией в России, сотрудники посольств, консульств и дипломатических миссий, имеющие дипломатический паспорт и аккредитацию (включая членов семьи)
                            li Сотрудники международных организаций, имеющие дипломатический паспорт и аккредитацию.
                        p #[br] Для приобретения автомобиля также необходимо предоставить копии документов, подтверждающих дипломатический статус физического лица, либо организации.
            
            .bstd-section
                .size-limit
                    .subtitle(style="font-weight: bold; text-align: left; margin-top: 40px;") Покупка автомобиля
                    .bstd-text
                        p(style="margin-top: 30px;") Приобрести автомобиль можно только в уполномоченных дилерских центрах по работе с дипломатами и дипломатическими миссиями.
                        p #[br] Контакты уполномоченных дилерских центров по работе с дипломатами и дипломатическими миссиями:

            .bstd-section
                .size-limit
                    .subtitle(style="font-weight: bold; text-align: left; margin-top: 40px;") г. Москва - ООО «СП БИЗНЕС КАР»
                    .bstd-text
                        ul(style="margin-left: 30px; line-height: 40px;")
                            li Фактический адрес: 121609, Москва, ул. Рублевское шоссе, д. 74. 
                            li Место нахождения: 117452, Москва, ул. Балаклавский пр-т, д. 26.
                            li Контактное лицо:
                            li Артем Владимиров — avladimirov@toyotabc.ru
                            li Телефон: (495) 725-33-88
                            li Факс: (495) 725-33-86

            .bstd-section
                .size-limit
                    .subtitle(style="font-weight: bold; text-align: left; margin-top: 40px;") г. Санкт – Петербург - ООО «Инчкейп Олимп»
                    .bstd-text
                        ul(style="margin-left: 30px; line-height: 40px;")
                            li Фактический адрес: 196210, г. Санкт-Петербург, ул. Шереметьевская, д. 17.
                            li Место нахождения: 195273, г. Санкт-Петербург, ул. Руставели, д. 31, литер А.
                            li Контактное лицо:
                            li Андрей Комякевич - andrey.komyakevich@inchcape.ru
                            li Телефон: (812) 320-10-30
                            li Факс: (812) 320-10-39
          

            .bstd-section
                .size-limit
                    h1.title Смотрите также:
                    .bstd-other(style="margin-bottom: 70px;")
                        a.bstd-other__item(href="owners/replacement/index" target="_blank")
                            .image
                                img(src='assets/img/diplomatic-sales/ds1.png' alt='other1')
                            span Новые автомобили
                            p.bstd.text(style="margin-top: 20px;") Узнайте больше о модельном ряде Toyota
                        a.bstd-other__item(href="owners/service-offers/maintenance-pack" target="_blank")
                            .image
                                img(src='assets/img/diplomatic-sales/ds2.png' alt='other2')
                            span Новости и события

