doctype html
html(lang='ru')
    include include/head
    include include/scripts
    body

        .pdca

            .bstd-section.bstd-section-header
                .bstd-header.size-limit(style="background-image: url(assets/img/finance-insurance/bg_header.png);")
                    h1 Программа #[br] «Тойота Страхование»

            .bstd-section
                .size-limit
                    p.text(style="margin-top: 65px;") Воспользуйтесь программой «Тойота Страхование», специальным предложением для владельцев автомобилей Toyota, которое обеспечит надежную финансовую защиту в любой ситуации и позволит экономить время при оформлении страховых случаев.
                    h1.title Программа «Тойота Страхование» —#[br]ваш идеальный выбор, если:
                    .bstd-intro
                        .bstd-intro__item Вы — владелец автомобиля Toyota или собираетесь им стать
                        .bstd-intro__item Вы доверяете ремонт своего автомобиля только официальным дилерам Тойота
                        .bstd-intro__item Вы не хотите тратить время на визиты в офис страховых компаний и оформление документов

            .bstd-section
                .size-limit
                    h1.title Три преимущества программы «Тойота Страхование»
                    .bstd-features
                        .bstd-features__item
                            img(src='assets/img/finance-insurance/feature1.png' alt='feature1')
                            p
                                strong Ремонт у официального дилера Тойота
                                | • Ремонт с соблюдением стандартов и технологий Toyota в любом дилерском центре&nbsp;&mdash;&nbsp;участнике программы#[br]
                                | • Только оригинальные запасные части#[br]
                                | • Сокращенное время согласования ремонтных работ
                        .bstd-features__item
                            img(src='assets/img/finance-insurance/feature2.png' alt='feature2')
                            p
                                strong Удобное урегулирование убытков
                                | • Нет необходимости посещать офис страховой компании#[br]
                                | • Осмотр повреждений и ремонт в дилерском центре#[br]
                                | • Бесплатная эвакуация с места ДТП
                        .bstd-features__item
                            img(src='assets/img/finance-insurance/feature3.png' alt='feature3')
                            p
                                strong Выгодный тариф
                                | • Оптимальное соотношение цены и наполнения страхового полиса#[br]
                                | • Широкий выбор тарифного плана из продуктовой линейки

            .bstd-section
                section.cta-inpage.t1-grey-section.hidden-xs(data-bt-eventclass="ctaevent" data-bt-category="component" data-bt-componentname="inpage_cta" data-bt-action="click_cta" data-bt-workflowstep="0")
                    .container.align-left.size-limit
                        .arrow
                        .buttons
                            ul.list-buttons
                                li.hidden-xs
                                    a.btn.iconlink.btn-action-primary(href="/finance-insurance/insurance-calculator" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-calculator
                                        | Страховой калькулятор
                                li.hidden-xs
                                    a.btn.iconlink.btn-simple(href="/forms/insurance" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-checkbox-checked
                                        | Заявка на страхование
                                li.hidden-xs
                                    a.btn.iconlink.btn-simple(href="/finance-insurance/dealers-list-insurance" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-map-marker
                                        | Участники программы
                                li.hidden-xs
                                    a.btn.iconlink.btn-simple(href="/forms/forms.json?tab=pane-dealer&showAllResults=true" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-phone
                                        | Связаться с дилером
                        .description Получите консультацию по программе «Тойота Страхование»

            .bstd-section
                .size-limit
                    h1.title С программой «Тойота Страхование» все просто:
                    .bstd-slider.owl-carousel.owl-theme
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide11.png' alt='slide1')
                            span Выберите страховой продукт, подходящий именно вам
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide12.png' alt='slide2')
                            span Подпишите договор страхования, с этого момента ваша Toyota под защитой
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide13.png' alt='slide3')
                            span При наступлении страхового случая, позвоните в дилерский центр
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide14.png' alt='slide4')
                            span Подайте заявление о страховом случае в выбранном вами дилерском центре Тойота – участнике программы
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide15.png' alt='slide5')
                            span Специалист осмотрит повреждения автомобиля непосредственно на территории дилерского центра
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide16.png' alt='slide6')
                            span После оперативного согласования работ, сотрудники приступят к ремонту автомобиля
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide17.png' alt='slide7')
                            span Получите отремонтированный автомобиль

            .bstd-section
                .size-limit
                    h1.title Выберите страховой продукт для себя:
                    .bstd-features
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/finance-insurance/product1.png' alt='product1')
                            p
                                strong Стандарт КАСКО
                                | Выплата 100% по угону, ущербу и полной гибели автомобиля
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/finance-insurance/product3.png' alt='product3')
                            p
                                strong Стандарт КАСКО с франшизой
                                | Выплата 100% по угону, ущербу и полной гибели автомобиля за вычетом франшизы
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/finance-insurance/product2.png' alt='product2')
                            p
                                strong Стандарт КАСКО с франшизой со второго случая
                                | Выплата 100% по угону, ущербу и полной гибели автомобиля за вычетом франшизы со второго случая
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/finance-insurance/product4.png' alt='product4')
                            p
                                strong Оптимум КАСКО
                                | Выплата не более 100,000 рублей по ущербу и 100% по угону и полной гибели автомобиля

            .bstd-section
                .size-limit
                    h1.title Планируете покупку автомобиля в кредит?
                    .bstd-slider.owl-carousel.owl-theme
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide21.png' alt='slide1')
                            span Включите в кредит выбранный страховой продукт, а также дополнительные сервисы и аксессуары
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide22.png' alt='slide2')
                            span Дождитесь одобрения заявки на кредит
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide23.png' alt='slide3')
                            span Подпишите договор страхования и кредитный договор
                        .bstd-slider__item
                            img(src='assets/img/finance-insurance/slide24.png' alt='slide4')
                            span Получите вашу надежно защищенную Toyota

            .bstd-section
                .size-limit
                    h1.title Выбор кредитного продукта:
                    .bstd-other
                        a.bstd-other__item(href="/finance-insurance/toyota_flex" target="_blank")
                            .image
                                img(src='assets/img/finance-insurance/other1.png' alt='other1')
                            span Кредит «Комфорт»
                        a.bstd-other__item(href="/finance-insurance/finance-and-credit/credit-programs/legend.json" target="_blank")
                            .image
                                img(src='assets/img/finance-insurance/other2.png' alt='other2')
                            span Кредит на автомобили с пробегом
                        a.bstd-other__item(href="/finance-insurance/toyota-fs/index" target="_blank")
                            .image
                                img(src='assets/img/finance-insurance/other3.png' alt='other3')
                            span Специальные предложения

            .bstd-section
                section.cta-inpage.t1-grey-section.hidden-xs(data-bt-eventclass="ctaevent" data-bt-category="component" data-bt-componentname="inpage_cta" data-bt-action="click_cta" data-bt-workflowstep="0")
                    .container.align-left.size-limit
                        .arrow
                        .buttons
                            ul.list-buttons
                                li.hidden-xs
                                    a.btn.iconlink.btn-action-primary(href="/finance-insurance/toyota-fs/calculator" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-calculator
                                        | Кредитный калькулятор
                                li.hidden-xs
                                    a.btn.iconlink.btn-simple(href="/finance-insurance/toyota-fs/index" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-tag
                                        | Специальные кредитные предложения
                                li.hidden-xs
                                    a.btn.iconlink.btn-simple(href="/forms/credit" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-checkbox-checked
                                        | Заявка на кредит
                                li.hidden-xs
                                    a.btn.iconlink.btn-simple(href="/forms/forms.json?tab=pane-dealer&showAllResults=true" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-phone
                                        | Связаться с дилером
                        .description Получите консультацию по кредитным программам

            .bstd-section
                h1.title Как сделать владение автомобилем еще более комфортным с помощью других сервисов Toyota?
                .bstd-services
                        .bstd-services__item
                            a.image(href="/current-offers/maintenance-pack.json" target="_blank")
                                img(src='assets/img/finance-insurance/service1.jpg' alt='service1')
                            .text
                                strong Пакетное ТО
                                | вы можете оплатить несколько регулярных технических осмотров сразу, это гарантирует сохранение стоимости обслуживания в будущем.
                            a.btn.btn-small.btn-action-secondary(href="/current-offers/maintenance-pack.json" target="_blank")
                                | Подробнее
                        .bstd-services__item
                            a.image(href="/service-and-accessories/service-Toyota/post-warranty" target="_blank")
                                img(src='assets/img/finance-insurance/service2.jpg' alt='service2')
                            .text
                                strong Постгарантийный контракт
                                | вы можете прибавить еще 2 года спокойствия к трем годам гарантии  от Toyota, чтобы не иметь поводов для беспокойства. 
                            a.btn.btn-small.btn-action-secondary(href="/service-and-accessories/service-Toyota/post-warranty" target="_blank")
                                | Подробнее
                        .bstd-services__item
                            a.image(href="/service-and-accessories/service-Toyota/rsa" target="_blank")
                                img(src='assets/img/finance-insurance/service3.jpg' alt='service3')
                            .text
                                strong Программа «Помощь на дороге»
                                | это ваш анти-стресс, который  отвечает за решение практически всех проблем на дороге – от замены пробитого колеса, до ночевки в незнакомом  городе. 
                            a.btn.btn-small.btn-action-secondary(href="/service-and-accessories/service-Toyota/rsa" target="_blank")
                                | Подробнее

            .bstd-section
                .size-limit
                    h1.title Часто задаваемые вопросы
                    .bstd-faq.accordion
                        .header Какие страховые компании являются партнерами программ «Тойота Страхование»?
                        .content Организатором программ в&nbsp;России является ООО «Тойота Иншуранс Менеджмент (Страховые брокеры)». Программы реализуются при&nbsp;содействии страховых компаний СПАО «Ингосстрах», ПАО «Росгосстрах», САО «ВСК».
                        .header Все ли дилерские центры взаимодействуют со страховыми партнерами по Программе «Тойота Страхование»?
                        .content Все официальные дилеры Тойота работают по&nbsp;программе «Тойота Страхование». Информацию по&nbsp;партнерству между&nbsp;конкретным дилерским центром и&nbsp;конкретной Страховой Компанией уточняйте у&nbsp;дилеров Тойота. Также, список дилеров-участников можно найти по&nbsp;<a href="/finance-insurance/dealers-list-insurance" target="_blank">ссылке</a>.
                        .header Можно ли воспользоваться программой, уже являясь владельцем автомобиля Toyota, и действует ли программа на покупку автомобилей с пробегом?
                        .content Владелец автомобиля Toyota может купить полис по&nbsp;программе «Тойота Страхование» на&nbsp;любом этапе владения автомобиля. Программа распространяется на&nbsp;все автомобили, которые были официально импортированы и/или произведены компанией ООО «Тойота Мотор». Если у&nbsp;владельца автомобиля есть желание приобрести Программы, он может обратиться в&nbsp;любой дилерский центр - участник программы. Также&nbsp;мы не&nbsp;ставим ограничения на&nbsp;продажу программ «Тойота Страхование» в&nbsp;зависимости от&nbsp;возраста автомобиля. Условия страхования автомобилей с&nbsp;пробегом уточняйте в&nbsp;дилерских центрах Тойота.
                        .header Приобретение страхового полиса КАСКО является добровольным. Но если автомобиль Toyota покупается в&nbsp;кредит, обязует ли банк покупать одну из&nbsp;этих программ, если они представлены у&nbsp;дилера?
                        .content Приобретение полиса в&nbsp;рамках программы «Тойота Страхование» является добровольным для&nbsp;всех клиентов, вне&nbsp;зависимости от&nbsp;того, приобретают ли они автомобиль на&nbsp;заемные средства. Уточните политику банка по&nbsp;требованию предоставления полиса КАСКО и&nbsp;его наполнения.
                        .header Где можно получить всю информацию о&nbsp;программах страхования?
                        .content Всю информацию можно получить непосредственно в&nbsp;дилерских центрах Тойота, являющихся участниками Программы. Более полная информация представлена <a href="http://static.toyota.ru/t/toyota/docs/toyota-insurance.pdf" target="_blank">здесь</a>.
                        .header Можно ли получить пример расчета страховой премии/ максимальные и&nbsp;минимальные ставки?
                        .content Можно воспользоваться страховым калькулятором по&nbsp;<a target="_blank" href="/finance-insurance/insurance-calculator">ссылке</a>. Однако, стоит учесть, что&nbsp;расчет страхования очень персонифицирован в&nbsp;зависимости от&nbsp;возраста, водительского стажа, региона проживания владельца, а&nbsp;также от&nbsp;самого автомобиля. Для&nbsp;корректного расчета страховой премии необходимо обратиться к&nbsp;специалистам отдела Страхования дилерского центра – участника.
                        .header Опция «Удобное Урегулирование Убытков» доступна для&nbsp;автовладельцев, приобретающих любой из&nbsp;двух пакетов страховых услуг («Стандарт КАСКО» и&nbsp;«Оптимум КАСКО»)?
                        .content Да, эта опция доступна всем без&nbsp;исключения клиентам программ «Тойота Страхование».
                        .header Нужна ли отдельная доплата за&nbsp;опцию «Удобное Урегулирование Убытков»?
                        .content Нет, эта опция доступна без&nbsp;дополнительной оплаты, в&nbsp;случае, если вы приобретаете один из&nbsp;страховых продуктов в&nbsp;рамках «Тойота Страхование».
                        .header Включен ли в&nbsp;услугу «Удобное Урегулирование Убытков» выезд аварийного комиссара?
                        .content Выезд аварийного комиссара – это&nbsp;услуга, которая оплачивается дополнительно при&nbsp;приобретении полиса.
                        .header Услуга сбора справок в&nbsp;ГИБДД доступна во всех дилерских центрах-участниках программы?
                        .content Услуга сбора справок доступна за&nbsp;дополнительную плату. Она также&nbsp;может быть включена в&nbsp;стоимость полиса КАСКО при&nbsp;покупке. О&nbsp;наличии услуги уточняйте у&nbsp;официального дилера - участника программы.

            .bstd-section
                .size-limit
                    .bstd-disclaimer(style="margin-top: 70px; margin-bottom: 40px;")
                        span.support-text Организатор Программы - ООО «Тойота Иншуранс Менеджмент (Страховые брокеры)» (Лицензия Центрального Банка Российской Федерации СБ №4339 от 12.11.2015, без ограничения срока действия). Программа реализуется при содействии страховых компаний: #[br] &mdash;&nbsp;СПАО «Ингосстрах» (лицензия Банка России СИ № 0928 от 23.09.2015, без ограничения срока действия); #[br] &mdash;&nbsp;ПАО СК «Росгосстрах» (лицензия Центрального Банка Российской Федерации СИ № 0001 от 23.05.2016, без ограничения срока действия); #[br] &mdash;&nbsp;САО «ВСК» (лицензия Центрального Банка Российской Федерации СИ № 0621 от 11.09.2015, без ограничения срока действия). #[br]#[br]#[br] Сведения, содержащиеся на настоящем сайте, носят исключительно информационный характер. Предложение не является публичной офертой (ст. 437 ГК РФ). Подключение к Программе осуществляется в соответствии с условиями индивидуального договора страхования. За всей детальной информацией касательно условий и порядка предоставления страховых услуг в рамках Программы Тойота Страхование, обращайтесь к Дилерам Тойота – участникам Программы.

            .bstd-section.hidden-xs
                .bstd-fixed
                    a.btn.btn-small.btn-action-primary(href="http://static.toyota.ru/t/toyota/docs/toyota-insurance.pdf " target="_blank")
                        | Условия программы
                    a.btn.btn-small.btn-action-primary(href="/forms/forms.json?tab=pane-dealer" target="_blank")
                        | Свяжитесь с дилером