doctype html
html(lang='ru')
    include include/head
    include include/scripts
    body

        .pdca

            .bstd-section.bstd-section-header
                .bstd-header.size-limit(style="background-image: url(assets/img/post-warranty-contract/bg_header.png);")
                    h1 Формула #[br] уверенности

            .bstd-section
                .size-limit
                    h1.title Постгарантийный контракт — это идеальный вариант, если:
                    p.text
                    .bstd-intro
                        .bstd-intro__item Вы хотите защитить себя от непредвиденных расходов на ремонт после окончания гарантийного срока.
                        .bstd-intro__item Вы хотите увеличить остаточную стоимость автомобиля на вторичном рынке.
                        .bstd-intro__item Вы хотите получать качественное обслуживание.

            .bstd-section
                .size-limit
                    h1.title Ваши преимущества
                    .bstd-features
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/post-warranty-contract/features1.png' alt='features1')
                            p Вы обезопасите себя от непредсказуемых затрат на возможный ремонт на четвертом и пятом годах эксплуатации вашего автомобиля.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/post-warranty-contract/features2.png' alt='features2')
                            p Выгода 15% при покупке постгарантийного контракта вместе с новым автомобилем.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/post-warranty-contract/features3.png' alt='features3')
                            p При продаже вашего автомобиля вы сможете передать будущему владельцу выбранную вами ранее программу постгарантийного обслуживания, что повысит остаточную стоимость вашего автомобиля.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/post-warranty-contract/features4.png' alt='features4')
                            p Стоимость программы может быть включена в сумму кредита на приобретение нового автомобиля.

            .bstd-section
                .size-limit
                    h1.title Условия подключения
                    .bstd-disclaimer(style="margin:0;")
                        ul
                            li Ваш автомобиль Toyota импортирован (ввезён) на территорию Российской Федерации ООО «Тойота Мотор» или изготовлен на территории Российской Федерации.
                            li Гарантийный период вашего автомобиля не истёк.
                            li Проведено всё плановое техническое обслуживание у Уполномоченного Дилера/Партнёра Тойота или в любом другом сервисном центре (при наличии подтверждающих документов).
                        span.support-text Выберите базовый или комплексный пакет и обеспечьте своему автомобилю еще один или два года постгарантийного обслуживания!<sup>1</sup>

            .bstd-section
                .size-limit
                    .bstd-table.table-responsive(style="margin-top: 40px; padding-bottom: 1px; padding-right: 1px;")
                        table
                            thead
                                tr
                                    td(rowspan="2")
                                    td(colspan="4" style="color: #e50000;") <strong>3&nbsp;года гарантии + 1&nbsp;год постгарантийного обслуживания&nbsp;/ или 130&nbsp;000 пробега</strong>
                                    td(colspan="4" style="color: #e50000;") <strong>3&nbsp;года гарантии + 2&nbsp;года постгарантийного обслуживания&nbsp;/ или 160&nbsp;000 пробега</strong>
                                tr
                                    td(colspan="2") <strong>Базовый пакет</strong>
                                    td(colspan="2") <strong>Комплексный пакет</strong>
                                    td(colspan="2") <strong>Базовый пакет</strong>
                                    td(colspan="2") <strong>Комплексный пакет</strong>
                                tr
                                    td Модель
                                    td Стандартное подключение<sup>2</sup>
                                    td Контракт для нового а/м<sup>3</sup>
                                    td Стандартное подключение<sup>2</sup>
                                    td Контракт для нового а/м<sup>3</sup>
                                    td Стандартное подключение<sup>2</sup>
                                    td Контракт для нового а/м<sup>3</sup>
                                    td Стандартное подключение<sup>2</sup>
                                    td Контракт для нового а/м<sup>3</sup>
                            tbody
                                tr
                                    td Alphard
                                    td 25&nbsp;000&nbsp;&#8381;
                                    td 21&nbsp;250&nbsp;&#8381;
                                    td 49&nbsp;000&nbsp;&#8381;
                                    td 41&nbsp;650&nbsp;&#8381;
                                    td 48&nbsp;750&nbsp;&#8381;
                                    td 41&nbsp;438&nbsp;&#8381;
                                    td 95&nbsp;550&nbsp;&#8381;
                                    td 81&nbsp;218&nbsp;&#8381;
                                tr
                                    td Auris
                                    td 7&nbsp;000&nbsp;&#8381;
                                    td —
                                    td 15&nbsp;000&nbsp;&#8381;
                                    td —
                                    td 13&nbsp;650&nbsp;&#8381;
                                    td —
                                    td 29&nbsp;250&nbsp;&#8381;
                                    td —
                                tr
                                    td Camry
                                    td 10&nbsp;000&nbsp;&#8381;
                                    td 8&nbsp;500&nbsp;&#8381;
                                    td 20&nbsp;500&nbsp;&#8381;
                                    td 17&nbsp;425&nbsp;&#8381;
                                    td 19&nbsp;500&nbsp;&#8381;
                                    td 16&nbsp;575&nbsp;&#8381;
                                    td 39&nbsp;975&nbsp;&#8381;
                                    td 33&nbsp;979&nbsp;&#8381;
                                tr
                                    td Corolla
                                    td 7&nbsp;000&nbsp;&#8381;
                                    td 5&nbsp;950&nbsp;&#8381;
                                    td 15&nbsp;000&nbsp;&#8381;
                                    td 12&nbsp;750&nbsp;&#8381;
                                    td 13&nbsp;650&nbsp;&#8381;
                                    td 11&nbsp;603&nbsp;&#8381;
                                    td 29&nbsp;250&nbsp;&#8381;
                                    td 24&nbsp;863&nbsp;&#8381;
                                tr
                                    td GT86
                                    td 25&nbsp;000&nbsp;&#8381;
                                    td —
                                    td 49&nbsp;000&nbsp;&#8381;
                                    td —
                                    td 48&nbsp;750&nbsp;&#8381;
                                    td —
                                    td 95&nbsp;550&nbsp;&#8381;
                                    td —
                                tr
                                    td Hiace
                                    td 16&nbsp;000&nbsp;&#8381;
                                    td 13&nbsp;600&nbsp;&#8381;
                                    td 30&nbsp;000&nbsp;&#8381;
                                    td 25&nbsp;500&nbsp;&#8381;
                                    td 31&nbsp;200&nbsp;&#8381;
                                    td 26&nbsp;520&nbsp;&#8381;
                                    td 58&nbsp;500&nbsp;&#8381;
                                    td 49&nbsp;725&nbsp;&#8381;
                                tr
                                    td Highlander
                                    td 25&nbsp;000&nbsp;&#8381;
                                    td 21&nbsp;250&nbsp;&#8381;
                                    td 47&nbsp;000&nbsp;&#8381;
                                    td 39&nbsp;950&nbsp;&#8381;
                                    td 48&nbsp;750&nbsp;&#8381;
                                    td 41&nbsp;438&nbsp;&#8381;
                                    td 91&nbsp;650&nbsp;&#8381;
                                    td 77&nbsp;903&nbsp;&#8381;
                                tr
                                    td Hilux
                                    td 16&nbsp;000&nbsp;&#8381;
                                    td 13&nbsp;600&nbsp;&#8381;
                                    td 32&nbsp;000&nbsp;&#8381;
                                    td 27&nbsp;200&nbsp;&#8381;
                                    td 31&nbsp;200&nbsp;&#8381;
                                    td 26&nbsp;520&nbsp;&#8381;
                                    td 62&nbsp;400&nbsp;&#8381;
                                    td 53&nbsp;040&nbsp;&#8381;
                                tr
                                    td Fortuner
                                    td 16&nbsp;000&nbsp;&#8381;
                                    td 13&nbsp;600&nbsp;&#8381;
                                    td 32&nbsp;000&nbsp;&#8381;
                                    td 27&nbsp;200&nbsp;&#8381;
                                    td 31&nbsp;200&nbsp;&#8381;
                                    td 26&nbsp;520&nbsp;&#8381;
                                    td 62&nbsp;400&nbsp;&#8381;
                                    td 53&nbsp;040&nbsp;&#8381;
                                tr
                                    td Land Cruiser Prado
                                    td 25&nbsp;000&nbsp;&#8381;
                                    td 21&nbsp;250&nbsp;&#8381;
                                    td 47&nbsp;000&nbsp;&#8381;
                                    td 39&nbsp;950&nbsp;&#8381;
                                    td 48&nbsp;750&nbsp;&#8381;
                                    td 41&nbsp;438&nbsp;&#8381;
                                    td 91&nbsp;650&nbsp;&#8381;
                                    td 77&nbsp;903&nbsp;&#8381;
                                tr
                                    td Land Cruiser 200
                                    td 25&nbsp;000&nbsp;&#8381;
                                    td 21&nbsp;250&nbsp;&#8381;
                                    td 49&nbsp;000&nbsp;&#8381;
                                    td 41&nbsp;650&nbsp;&#8381;
                                    td 48&nbsp;750&nbsp;&#8381;
                                    td 41&nbsp;438&nbsp;&#8381;
                                    td 95&nbsp;550&nbsp;&#8381;
                                    td 81&nbsp;218&nbsp;&#8381;
                                tr
                                    td Prius
                                    td 16&nbsp;000&nbsp;&#8381;
                                    td 13&nbsp;600&nbsp;&#8381;
                                    td 40&nbsp;000&nbsp;&#8381;
                                    td 34&nbsp;000&nbsp;&#8381;
                                    td 31&nbsp;200&nbsp;&#8381;
                                    td 26&nbsp;520&nbsp;&#8381;
                                    td 78&nbsp;000&nbsp;&#8381;
                                    td 66&nbsp;300&nbsp;&#8381;
                                tr
                                    td RAV4
                                    td 10&nbsp;000&nbsp;&#8381;
                                    td 8&nbsp;500&nbsp;&#8381;
                                    td 19&nbsp;500&nbsp;&#8381;
                                    td 16&nbsp;575&nbsp;&#8381;
                                    td 19&nbsp;500&nbsp;&#8381;
                                    td 16&nbsp;575&nbsp;&#8381;
                                    td 38&nbsp;025&nbsp;&#8381;
                                    td 32&nbsp;321&nbsp;&#8381;
                                tr
                                    td Venza
                                    td 25&nbsp;000&nbsp;&#8381;
                                    td —
                                    td 49&nbsp;000&nbsp;&#8381;
                                    td —
                                    td 48&nbsp;750&nbsp;&#8381;
                                    td —
                                    td 95&nbsp;550&nbsp;&#8381;
                                    td —
                                tr
                                    td Verso
                                    td 25&nbsp;000&nbsp;&#8381;
                                    td —
                                    td 32&nbsp;000&nbsp;&#8381;
                                    td —
                                    td 48&nbsp;750&nbsp;&#8381;
                                    td —
                                    td 62&nbsp;400&nbsp;&#8381;
                                    td —

            .bstd-section
                .size-limit
                    .bstd-disclaimer(style="margin-top: 40px;")
                        span.support-text Вся информация, указанная в настоящем разделе, носит исключительно информационный характер и не является исчерпывающей. Подключение к программе «Формула уверенности» осуществляется в соответствии с индивидуальным договором о подключении к программе, заключаемым с Уполномоченным Дилером / Уполномоченным Партнёром Тойота, участвующим в программе. Перечень Уполномоченных Дилеров / Уполномоченных Партнёров Тойота, участвующих в программе, указан на сайте www.toyota.ru. Информация, содержащаяся в настоящем буклете, основана на данных, актуальных на момент публикации. Для получения более полной и подробной информации обращайтесь к Уполномоченным Дилерам / Уполномоченным Партнёрам Тойота, участвующим в программе.
                         | #[br]#[br] <sup>1</sup> Программа действует 1 год или до 130 000 км пробега / 2 года или до 160 000 км пробега в зависимости от того, что наступит ранее.
                         | #[br] <sup>2</sup> Указана максимальная цена перепродажи в рублях с учётом НДС. 
                         | #[br] <sup>3</sup> Подключитесь к программе «Формула уверенности» в течение первых 60 дней владения автомобилем и сэкономьте до 15% от стоимости контракта. Указана цена в рублях с учётом НДС.

            .bstd-section
                section.cta-inpage.t1-grey-section.hidden-xs(data-bt-eventclass="ctaevent" data-bt-category="component" data-bt-componentname="inpage_cta" data-bt-action="click_cta" data-bt-workflowstep="0")
                    .container.align-left.size-limit
                        .arrow
                        .buttons
                            ul.list-buttons
                                li.hidden-xs
                                    a.btn.iconlink.btn-action-primary(href="owners/service-offers/post-warranty-contract-dealers" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-map-marker
                                        | Найти дилера
                                li.hidden-xs
                                    a.btn.iconlink.btn-action-secondary(href="owners/maintenance/to-online" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-checkbox-checked
                                        | Записаться на ТО
                        .description

            .bstd-section
                .size-limit
                    h1.title Почему лучше обслуживаться у официального дилера Тойота?
                    .bstd-features
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/post-warranty-contract/features5.png' alt='features5')
                            p
                                strong Гарантия на работы
                                | Официальный дилер гарантирует правильную установку деталей. Здесь работают механики, прошедшие профессиональную подготовку на базе Toyota в России.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/post-warranty-contract/features6.png' alt='features6')
                            p
                                strong Гарантия подлинности запасных частей (отсутствие контрафакта)
                                | Официальный дилер подберет оригинальные детали именно для вашего автомобиля.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/post-warranty-contract/features7.png' alt='features7')
                            p
                                strong Высокая остаточная стоимость вашего автомобиля
                                | С оригинальными запасными частями вы сможете продать свой автомобиль по более высокой цене на вторичном рынке.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/post-warranty-contract/features8.png' alt='features8')
                            p
                                strong Международные стандарты обслуживания клиентов
                                | Все дилеры Тойота проходят ежегодный аудит и сертификацию по системе «Тойота Сервис Менеджмент».

            .bstd-section
                section.cta-inpage.t1-grey-section.hidden-xs(data-bt-eventclass="ctaevent" data-bt-category="component" data-bt-componentname="inpage_cta" data-bt-action="click_cta" data-bt-workflowstep="0")
                    .container.align-left.size-limit
                        .arrow
                        .buttons
                            ul.list-buttons
                                li.hidden-xs
                                    a.btn.iconlink.btn-action-primary(href="forms/testdrive" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-checkbox-checked
                                        | Записаться на тест-драйв
                                li.hidden-xs
                                    a.btn.iconlink.btn-action-secondary(href="buy-a-toyota/used-cars/form-send" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-car-used
                                        | Оцените ваш автомобиль
                                li.hidden-xs
                                    a.btn.iconlink.btn-simple(href="forms/credit" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-checkbox-checked
                                        | Консультация по кредиту
                        .description

            .bstd-section
                .size-limit
                    h1.title Часто задаваемые вопросы
                    .bstd-faq.accordion
                        .header Когда можно приобрести постгарантийный контракт?
                        .content В любое время в течение гарантийного срока, установленного изготовителем (3 года или 100 тыс. км пробега, в зависимости от того, что наступит ранее).
                        .header Где можно приобрести постгарантийный контракт?
                        .content У любого дилера − участника программы на территории РФ.
                        .header От чего зависит стоимость постгарантийного контакта?
                        .content От периода его приобретения, выбранного покрытия и срока действия.
                        .header Когда выгоднее покупать постгарантийный контракт?
                        .content Максимальную выгоду 15% можно получить при покупке постгарантийного контракта в первые 60 дней после приобретения нового автомобиля.
                        .header Могу ли я приобрести постгарантийный контракт, если не все ТО были выполнены у официального дилера Тойота?
                        .content Да, это возможно, при документальном подтверждении (заказ-наряд) проведения ТО в сторонних сервисах.
                        .header На какой период осуществляется подключение к программе?
                        .content Вы можете выбрать наиболее удобный для себя вариант: 12 месяцев/до 130 тыс. км пробега (в зависимости от того, что наступит ранее) или 24 месяца/160 тыс. км пробега (в зависимости от того, что наступит ранее).
                        .header Возможно ли сначала подключить контракт на 12 мес./до 130 тыс. км пробега (в зависимости от того, что наступит ранее), а по его истечении докупить еще на 12 мес.?
                        .content Пролонгация контракта не предполагается, поэтому необходимо сразу выбрать постгарантийный контракт на 24 мес./160 тыс. км пробега (в зависимости от того, что наступит ранее).
                        .header Могу ли я продать контракт вместе с автомобилем?
                        .content Да, это возможно, при смене собственника автомобиля контракт переходит к новому владельцу.
                        .header Могу ли обратиться за ремонтом по программе к другому дилеру (не в тот дилерский центр, в котором я покупал контракт)?
                        .content Обратиться за проведением ремонта по программе можно к любому дилеру − участнику программы на территории РФ.
                        .header Возможно ли приобрести постгаранийный контракт в кредит вместе с автомобилем?
                        .content Да, такая возможность есть. Сообщите вашему продавцу, что вы хотели бы включить стоимость постгарантийного контракта в ваш кредитный договор.

            .bstd-section
                .size-limit
                    h1.title Смотрите также:
                    .bstd-other(style="margin-bottom: 70px;")
                        a.bstd-other__item(href="owners/replacement/index" target="_blank")
                            .image
                                img(src='assets/img/post-warranty-contract/other1.png' alt='other1')
                            span Поменять автомобиль
                        a.bstd-other__item(href="owners/service-offers/maintenance-pack" target="_blank")
                            .image
                                img(src='assets/img/post-warranty-contract/other2.png' alt='other2')
                            span Сервисный контракт «Пакетное ТО»
                        a.bstd-other__item(href="owners/service-offers/rsa" target="_blank")
                            .image
                                img(src='assets/img/post-warranty-contract/other3.png' alt='other3')
                            span Помощь на дороге
                        a.bstd-other__item(href="owners/service-offers/security-pack" target="_blank")
                            .image
                                img(src='assets/img/post-warranty-contract/other4.png' alt='other4')
                            span Защита под ключ
