doctype html
html(lang='ru')
    include include/head
    include include/scripts
    body

        .pdca

            .bstd-section.bstd-section-header
                .bstd-header.size-limit(style="background-image: url(assets/img/rsa/bg_header.png);")
                    h1 Помощь #[br] на дороге

            .bstd-section
                .size-limit
                    h1.title Программа «Помощь на дороге» — ваш идеальный выбор, если:
                    p.text
                    .bstd-intro
                        .bstd-intro__item Вы хотите иметь круглосуточную поддержку в любой сложной ситуации на дороге
                        .bstd-intro__item Вы хотите сохранить мобильность, что бы ни произошло
                        .bstd-intro__item Вы не хотите тратить время и силы на решение непредвиденных проблем в пути

            .bstd-section
                .size-limit
                    h1.title Преимущества программы
                    .bstd-features
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/features1.png' alt='features1')
                            p
                                strong Выгода
                                | В случае инцидента на дороге вы избежите непредвиденных расходов.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/features2.png' alt='features2')
                            p
                                strong Уверенность
                                | Ваше путешествие продолжится по плану, что бы ни произошло.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/features3.png' alt='features3')
                            p
                                strong Поддержка в сложных ситуациях
                                | Нет необходимости самому заниматься заменой колеса или подзарядкой аккумулятора.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/features4.png' alt='features4')
                            p
                                strong Мобильность
                                | Благодаря сервисам для продолжения путешествия — такси, подменному автомобилю и т.д. — вам не придется менять свои планы.
                    p.text(style="margin-top: 30px;") Автомобили Toyota известны своей легендарной надежностью. Но даже с ними вы можете попасть в непредвиденную ситуацию. Для таких случаев мы предусмотрели программу профессиональной помощи на дороге. Будьте уверены, что бы ни случилось, вы не останетесь с проблемой один на один.

            .bstd-section
                .size-limit
                    h1.title Услуги и сервисы программы «Помощь на дороге»*
                    .bstd-features
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/services1.png' alt='services1')
                            p Информационная и техническая поддержка по телефону.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/services2.png' alt='services2')
                            p Организация продолжения поездки поездом или самолетом. #[br] Организация проживания в отеле на время ремонта вашего автомобиля. #[br] Подменный автомобиль на время ремонта вашего автомобиля.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/services3.png' alt='services3')
                            p Услуга «Трезвый водитель».
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/services4.png' alt='services4')
                            p Услуги аварийного комиссара в случае, если ваш автомобиль стал участником дорожно-транспортного происшествия.
                    .bstd-features(style="margin-top: 35px;")
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/services5.png' alt='services5')
                            p Эвакуация до ближайшего дилера Тойота.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/services6.png' alt='services6')
                            p Техническая помощь и ремонт на месте поломки.
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/services7.png' alt='services7')
                            p Ответственное хранение автомобиля в случае отсутствия возможности у дилера Тойота принять автомобиль в ремонт (в нерабочие часы).
                        .bstd-features__item.bstd-features__item--4
                            img(src='assets/img/rsa/services8.png' alt='services8')
                            p Такси от дилера Тойота для продолжения поездки. #[br] Такси до дилера Тойота, чтобы забрать автомобиль после ремонта.

            .bstd-section
                section.cta-inpage.t1-grey-section.hidden-xs(data-bt-eventclass="ctaevent" data-bt-category="component" data-bt-componentname="inpage_cta" data-bt-action="click_cta" data-bt-workflowstep="0")
                    .container.align-left.size-limit
                        .arrow
                        .buttons
                            ul.list-buttons
                                li.hidden-xs
                                    a.btn.iconlink.btn-action-primary(href="http://content.toyota.ru/catalogues/promo/rules-rsa.pdf" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-brochure
                                        | Правила оказания услуг по программе
                                li.hidden-xs
                                    a.btn.iconlink.btn-action-secondary(href="owners/service-offers/sara-to" target="_blank" data-bt-value="contact" data-bt-workflowname="contact" data-bt-track="")
                                        i.icon.icon-service-and-maintenance
                                        | При обращении в сервис
                        .description Теперь ваша Toyota окружена заботой в режиме 24 часа, 7 дней в неделю, 365 дней в году!

            .bstd-section
                .size-limit
                    .bstd-disclaimer(style="margin-top: 70px;")
                        strong(style="display: block; margin-bottom: 20px;") Перечень услуг в рамках программы «Помощь на дороге»:
                        ul(style="margin-bottom: 40px;")
                            li информационная и техническая поддержка по телефону;
                            li ремонт на месте поломки;
                            li запуск двигателя от внешнего источника питания;
                            li ремонт/замена поврежденного колеса;
                            li доставка до 10 литров дизельного или бензинового топлива;
                            li вскрытие заблокированных дверей, капота, багажника автомобиля;
                            li прочий мелкий ремонт на месте (замена батареек в брелоках и т.п.);
                            li эвакуация до ближайшего дилера Тойота;
                            li услуга «Трезвый водитель». Предоставляется не более двух раз в год;
                            li услуги аварийного комиссара в случае, если автомобиль клиента стал участником дорожно-транспортного происшествия.

                        strong(style="display: block; margin-bottom: 20px;") В случае если автомобиль клиента был эвакуирован и ремонт автомобиля невозможен в день обращения к дилеру Тойота, клиенту предлагается на выбор одна из следующих услуг:
                        ul(style="margin-bottom: 40px;")
                            li предоставление такси для водителя и (не более четырех) пассажиров для поездки от дилера Тойота в необходимый клиенту пункт назначения;
                            li организация продолжения поездки для водителя и (не более четырех) пассажиров другими видами транспорта, в том числе поездом и самолетом;
                            li организация размещения в отеле категории 4* для водителя и пассажиров;
                            li предоставление подменного автомобиля на срок ремонта.

                        strong(style="display: block; margin-bottom: 20px;") После завершения ремонта автомобиля клиент может воспользоваться одной из постремонтных транспортных услуг. Это:
                        ul
                            li организация поездки на такси от места проживания клиента до дилера Тойота, у которого осуществлялся ремонт автомобиля;
                            li организация поездки для клиента другими видами транспорта, в том числе поездом и самолетом.

            .bstd-section
                .size-limit
                    h1.title Часто задаваемые вопросы
                    .bstd-faq.accordion
                        .header Что такое программа «Помощь на дороге»?
                        .content Программа «Помощь на дороге» — это уникальный для российского рынка набор сервисов, обеспечивающих вам премиальный уровень безопасности и комфорта в случае непредвиденной ситуации на дороге.
                        .header На какие автомобили Toyota распространяется программа помощи на дороге?
                        .content Действие программы помощи на дороге распространяется на все новые автомобили: #[br]#[br]
                            ul
                                li Toyota Land Cruiser 200 (период производства — с сентября 2015 года);
                                li Toyota Land Cruiser Prado (период производства — с сентября 2017 года).
                        .header В течение какого срока с момента покупки автомобиля действует программа?
                        .content Срок действия программы помощи на дороге составляет три года с момента приобретения нового автомобиля Toyota.
                        .header Программа действует по всей России?
                        .content Программа помощи на дороге действует на территории Российской Федерации в городах присутствия дилеров Toyota. При этом покрытие за пределами городов присутствия дилеров Toyota ограничено расстоянием в 200 километров (по автомобильным дорогам) вокруг внешних границ указанных городов.
                        .header Что входит в услуги, предоставляемые по программе помощи на дороге?
                        .content В услуги, предоставляемые по программе помощи на дороге, входят: #[br] #[br]
                            ul
                                li информационная поддержка по телефону;
                                li техническая помощь и ремонт на месте поломки;
                                li эвакуация;
                                li ответственное хранение автомобиля у дилера в случае невозможности по той или иной причине ремонта в момент обращения;
                                li аварийный комиссар;
                                li такси для поездки в нужный для клиента пункт назначения в случае поломки автомобиля;
                                li подменный автомобиль на время ремонта автомобиля;
                                li бронирование и оплата билетов при необходимости продолжения поездки поездом или самолетом;
                                li размещение в отеле на время ремонта;
                                li услуга «Трезвый водитель».
                            | #[br] С полными правилами вы можете ознакомиться на сайте <a href="http://toyota.ru" target="_blank">www.toyota.ru</a>.
                        .header Какова стоимость услуг по программе?
                        .content Все услуги в рамках и на территории действия программы предоставляются бесплатно для автомобилей с действующей программой. Необходимость в оплате услуг возникает, если срок действия программы для вашего автомобиля уже истек, но тем не менее вам требуются услуги по программе. #[br]#[br] Необходимость в частичной оплате услуг возникает, если услуги по программе требуются за пределами территории ее действия.
                        .header Обязательно ли «трезвый» водитель сядет за руль?
                        .content «Трезвый» водитель имеет право управлять автомобилем только в том случае, если полис ОСАГО не имеет ограничений по количеству водителей, которым разрешено управлять автомобилем (полис «мультидрайв»). В случае ограниченного полиса ОСАГО транспортировка вашего автомобиля будет осуществлена эвакуатором.
                        .header Может ли аварийный комиссар помочь мне собрать справки и подать их от моего имени в страховую компанию?
                        .content Да, если подача документов по страховому случаю третьими лицами не запрещена правилами работы вашей страховой компании.
                        .header Что делать, если поломка автомобиля произошла в ночное время/праздничный день?
                        .content Услуги по программе оказываются ежедневно и круглосуточно, в том числе в выходные и праздничные дни. В случае если вам требуется эвакуация автомобиля в нерабочие часы дилерских центров Тойота, она может быть осуществлена на охраняемую парковку. Эвакуация в дилерский центр уже в рабочее время будет также организована для вас бесплатно в рамках действия программы.
                        .header Что делать, если поломка произошла не в городе постоянного проживания и ремонт займет несколько дней?
                        .content Если автомобиль не может быть отремонтирован в день обращения в официальный дилерский центр Тойота и расстояние от места ремонта автомобиля до места проживания превышает 100 километров, программой предусмотрено получение одной из следующих услуг: #[br] #[br]
                            ul
                                li такси до дома;
                                li подменный автомобиль;
                                li билет на самолет/поезд;
                                li размещение в отеле.
                            | #[br] Обратите внимание, что для получения любой из данных услуг необходимо, чтобы: #[br] #[br]
                            ul
                                li эвакуация автомобиля была организована через контакт-центр службы помощи на дороге Тойота;
                                li на момент обращения автомобиль находился в официальном дилерском центре Тойота;
                                li причиной поломки стало не дорожно-транспортное происшествие;
                                li причиной поломки стало (в том числе по заключению сотрудников сервиса дилерского центра) не нарушение правил эксплуатации автомобиля.
                        .header Можно ли воспользоваться услугами по программе для автомобиля другой марки, если мой автомобиль Toyota подключен к программе?
                        .content К программе подключается автомобиль по VIN-номеру. Следовательно, услуги можно получить только на подключенный автомобиль Toyota.
                        .header Могут ли мои родственники/коллеги воспользоваться программой?
                        .content Так как к программе подключается именно автомобиль, любой законный владелец имеет право получить услуги по программе. Законность владения определяет наличие ключей и регистрационных документов на подключенный к программе автомобиль.
                        .header Окажут ли мне помощь по программе, если поломка автомобиля произойдет более, чем в 200 км от города?
                        .content Услуги эвакуации и технической помощи по программе оказываются бесплатно на территории РФ в городах присутствия официальных дилерских центров Тойота, а также на расстоянии в 200 км вокруг административных границ данных городов. В случае если расстояние превышает 200 км, вам будет необходимо доплатить за пробег спецтехники свыше 200 км непосредственному исполнителю услуги.
                        .header Можно ли отказаться от услуг по программе и получить денежную компенсацию?
                        .content Денежный эквивалент услуг по программе «Помощь на дороге» не предоставляется.
                        .header Передается ли программа при продаже автомобиля?
                        .content Да. К программе подключается VIN-номер автомобиля, а не его собственник/владелец. Поэтому любой новый собственник/владелец автомобиля сможет воспользоваться услугами по программе.

            .bstd-section(style="margin-bottom: 70px;")
                .size-limit
                    h1.title Смотрите также:
                    .bstd-other
                        a.bstd-other__item(href="maintenance-pack" target="_blank")
                            .image
                                img(src='assets/img/rsa/other1.png' alt='other1')
                            span Сервисный контракт «Пакетное ТО»
