doctype html
html(lang='ru')
    include include/head
    include include/scripts
    body

        .pdca

            .bstd-section.bstd-section-header
                .bstd-header.size-limit(style="background-image: url(assets/img/special-conditions/bg_header.png);")
                    h1 Особые #[br] условия

            .bstd-section
                .size-limit
                    h1.title Особые условия для корпоративных клиентов
                    p.text(style="margin-bottom: 40px;") Обратившись за приобретением автомобилей для своего корпоративного автопарка к <a href="fleet/dealers-corp" target="_blank">Уполномоченному Дилеру или Уполномоченному Партнеру Тойота в России</a>, Вы можете рассчитывать на целый ряд преимуществ:
                    .bstd-disclaimer
                        strong(style="display: block; margin-bottom: 20px;") Перечень услуг в рамках программы «Помощь на дороге»:
                        ul(style="margin-bottom: 40px;")
                            li информационная и техническая поддержка по телефону;
                            li ремонт на месте поломки;
                            li запуск двигателя от внешнего источника питания;
                            li ремонт/замена поврежденного колеса;
                            li доставка до 10 литров дизельного или бензинового топлива;
                            li вскрытие заблокированных дверей, капота, багажника автомобиля;
                            li прочий мелкий ремонт на месте (замена батареек в брелоках и т.п.);
                            li эвакуация до ближайшего дилера Тойота;
                            li услуга «Трезвый водитель». Предоставляется не более двух раз в год;
                            li услуги аварийного комиссара в случае, если автомобиль клиента стал участником дорожно-транспортного происшествия.

                        strong(style="display: block; margin-bottom: 20px;") В случае если автомобиль клиента был эвакуирован и ремонт автомобиля невозможен в день обращения к дилеру Тойота, клиенту предлагается на выбор одна из следующих услуг:
                        ul(style="margin-bottom: 40px;")
                            li предоставление такси для водителя и (не более четырех) пассажиров для поездки от дилера Тойота в необходимый клиенту пункт назначения;
                            li организация продолжения поездки для водителя и (не более четырех) пассажиров другими видами транспорта, в том числе поездом и самолетом;
                            li организация размещения в отеле категории 4* для водителя и пассажиров;
                            li предоставление подменного автомобиля на срок ремонта.

                        strong(style="display: block; margin-bottom: 20px;") После завершения ремонта автомобиля клиент может воспользоваться одной из постремонтных транспортных услуг. Это:
                        ul
                            li организация поездки на такси от места проживания клиента до дилера Тойота, у которого осуществлялся ремонт автомобиля;
                            li организация поездки для клиента другими видами транспорта, в том числе поездом и самолетом.

            .bstd-section(style="margin-bottom: 70px;")
                .size-limit
                    h1.title Смотрите также:
                    .bstd-other
                        a.bstd-other__item(href="" target="_blank")
                            .image
                                img(src='assets/img/special-conditions/other1.png' alt='other1')
                            span Сервисный контракт «Пакетное ТО»
                        a.bstd-other__item(href="" target="_blank")
                            .image
                                img(src='assets/img/special-conditions/other2.png' alt='other2')
                            span Сервисный контракт «Пакетное ТО»
